In [41]:
import pandas as pd
import os
from sqlalchemy import create_engine
import pyarrow.parquet as pq
import psycopg2
import pyarrow as pa

In [13]:
home_dir = '/Users/Cherry/Documents/Personal/Study/Data_Engineer/nyc_taxi_project/nyc_taxi_de_project'

In [16]:
df = pd.read_parquet(f"{home_dir}/01-docker-terraform/yellow_tripdata_2024-01.parquet")

In [17]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [18]:
print(pd.io.sql.get_schema(df,name='yello_taxi_data'))

CREATE TABLE "yello_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [21]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [25]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
dtype: object

In [28]:
engine = create_engine("postgresql://myuser:mypassword@localhost:5432/mydatabase")

In [29]:
engine.connect()

In [31]:
df.count()

VendorID                 2964624
tpep_pickup_datetime     2964624
tpep_dropoff_datetime    2964624
passenger_count          2824462
trip_distance            2964624
RatecodeID               2824462
store_and_fwd_flag       2824462
PULocationID             2964624
DOLocationID             2964624
payment_type             2964624
fare_amount              2964624
extra                    2964624
mta_tax                  2964624
tip_amount               2964624
tolls_amount             2964624
improvement_surcharge    2964624
total_amount             2964624
congestion_surcharge     2824462
Airport_fee              2824462
dtype: int64

In [32]:
df.to_sql("yellow_taxi_data", con=engine, if_exists="replace", index=False)

624

In [ ]:
conn = psycopg2.connect(
    dbname="mydatabase",
    user="myuser",
    password="mypassword",
    host="localhost",
    port="5432"
)
cur = conn.cursor()

# Read Parquet file in chunks
taxi_file = f"{home_dir}/01-docker-terraform/yellow_tripdata_2024-01.parquet"
taxi_df = pd.read_parquet(taxi_file)
chunksize = 1000000  # Adjust chunksize as needed
# for chunk in pq.read_table(parquet_file,chunksize=chunksize).to_pandas():
#     print("chucks")
#     # Insert chunk into PostgreSQL
#     #chunk.to_sql('your_table_name', engine, if_exists='append', index=False)

# # Close the connection
# cur.close()
# engine.close()

def read_data_in_chunks(taxi_file, chunk_size=100000):
    """Reads a Parquet file in chunks using PyArrow."""

    parquet_file = pq.ParquetFile(taxi_file)
    for batch in parquet_file.iter_batches(batch_size=chunk_size):
        chunk_df = pa.Table.from_batches([batch]).to_pandas(split_blocks=True, self_destruct=True)
        chunk_df = chunk_df.merge(taxi_df, on=join_columns, how=join_type, uffixes=('_left', '_right')

TypeError: read_table() got an unexpected keyword argument 'chunksize'

In [34]:
query = "select * from yellow_taxi_data limit 10"
pd.read_sql(query,con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.00
5,1,2024-01-01 00:54:08,2024-01-01 01:26:31,1.0,4.70,1.0,N,148,141,1,29.6,3.5,0.5,6.90,0.0,1.0,41.50,2.5,0.00
6,2,2024-01-01 00:49:44,2024-01-01 01:15:47,2.0,10.82,1.0,N,138,181,1,45.7,6.0,0.5,10.00,0.0,1.0,64.95,0.0,1.75
7,1,2024-01-01 00:30:40,2024-01-01 00:58:40,0.0,3.00,1.0,N,246,231,2,25.4,3.5,0.5,0.00,0.0,1.0,30.40,2.5,0.00
8,2,2024-01-01 00:26:01,2024-01-01 00:54:12,1.0,5.44,1.0,N,161,261,2,31.0,1.0,0.5,0.00,0.0,1.0,36.00,2.5,0.00
9,2,2024-01-01 00:28:08,2024-01-01 00:29:16,1.0,0.04,1.0,N,113,113,2,3.0,1.0,0.5,0.00,0.0,1.0,8.00,2.5,0.00

In [ ]:
taxi_file = f"{home_dir}/01-docker-terraform/yellow_tripdata_2024-01.parquet"

df = pd.read_parquet(taxi_file)

df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

db_params = {
    'dbname' =' mydatabase',
    'user' = 'myuser',
    'password' = 'mypassword',
    'host' = 'localhost',
    'port' = '5432'
}

engine = create_engine(f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['dbname']}")

engine.connect()

df.to_sql("yellow_taxi_data", con=engine, if_exists="replace", index=False)


chunk_size = 100000  # Adjust based on your system's capabilities
for chunk in pd.read_parquet(taxi_file, chunksize=chunk_size):
    chunk.to_sql("yellow_taxi_data", engine, if_exists='append', index=False)